<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.znuel.mall.Dao.HomeMapper">

    <select id="getHotProductList" resultType="Product">
        SELECT p.*
        FROM
            product p
            RIGHT JOIN order_item o ON p.PID = o.PID
        ORDER BY
            hp.sort DESC
        LIMIT #{offset}, #{limit};
    </select>
</mapper>