<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About || Truemart Responsive Html5 Ecommerce Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="css/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="css/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="css/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
<!-- Main Wrapper Start Here -->
<div class="wrapper">
    <!-- 引入头部-->
    <div th:replace="header :: header"></div>
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-area mt-30">
        <div class="container">
            <div class="breadcrumb">
                <ul class="d-flex align-items-center">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="about.html">About Us</a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Breadcrumb End -->
    <!-- About Us Start Here -->
    <div class="about-us pt-100 pt-sm-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="sidebar-img mb-all-30">
                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1576771954396&di=4594105483676afc5327c96bda29814a&imgtype=0&src=http%3A%2F%2Fpic.shejiben.com%2Fcase%2F2014%2F05%2F19%2F20140519113253-8356365f.jpg"
                             alt="single-blog-img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-desc">
                        <h3 class="mb-10 about-title">About our success story</h3>
                        <p class="mb-20">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                            adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                            aliquam quaerat exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                            commodi consequatur?</p>
                        <p class="mb-20">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                            molestiae consequatur, vel illum qui dolorem eum fugiat quo volup.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada
                            vestibulum. Phasellus tempor nunc eleifend cursus molestie. Mauris lectus arcu, pellentesque
                            at sodales sit amet, condimentum id nunc. Donec ornare mattis suscipit. Praesent fermentum
                            accumsan vulputate.</p>
                        <a href="#" class="return-customer-btn read-more">read more</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- About Us End Here -->
    <!-- About Us Skills Start Here -->
    <div class="about-skill ptb-100 ptb-sm-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="about-title mb-20">Our skills</h3>
                    <div class="skill-progress mb-all-40">
                        <div class="progress">
                            <div class="skill-title">Strategy 79%</div>
                            <div class="progress-bar wow fadeInLeft" data-wow-delay="0.2s" role="progressbar"
                                 style="width: 79%; visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                            </div>
                        </div>
                        <div class="progress">
                            <div class="skill-title">Marketing 96%</div>
                            <div class="progress-bar wow fadeInLeft" data-wow-delay="0.3s" role="progressbar"
                                 style="width: 96%; visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            </div>
                        </div>
                        <div class="progress">
                            <div class="skill-title">Wordpress Theme 65%</div>
                            <div class="progress-bar wow fadeInLeft" data-wow-delay="0.4s" role="progressbar"
                                 style="width: 65%; visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            </div>
                        </div>
                        <div class="progress">
                            <div class="skill-title">Shopify Theme 75%</div>
                            <div class="progress-bar wow fadeInLeft" data-wow-delay="0.5s" role="progressbar"
                                 style="width: 75%; visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                            </div>
                        </div>
                        <div class="progress">
                            <div class="skill-title">UI/UX Design 92%</div>
                            <div class="progress-bar wow fadeInLeft" data-wow-delay="0.6s" role="progressbar"
                                 style="width: 89%; visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ht-single-about">
                        <h3 class="about-title mb-20">our works</h3>
                        <div class="ht-about-work">
                            <span>1</span>
                            <div class="ht-work-text">
                                <h5><a href="#">LOREM IPSUM DOLOR SIT AMET</a></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
                            </div>
                        </div>
                        <div class="ht-about-work">
                            <span>2</span>
                            <div class="ht-work-text">
                                <h5><a href="#">DONEC FERMENTUM EROS</a></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
                            </div>
                        </div>
                        <div class="ht-about-work">
                            <span>3</span>
                            <div class="ht-work-text">
                                <h5><a href="#">LOREM IPSUM DOLOR SIT AMET</a></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
                            </div>
                        </div>
                        <div class="ht-about-work">
                            <span>4</span>
                            <div class="ht-work-text">
                                <h5><a href="#">Adipiscing IPSUM DOLOR SIT AMET</a></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- About Us Skills End Here -->
    <!-- 引入尾部-->
    <div th:replace="footer :: footer"></div>
</div>
<!-- jquery 3.2.1 -->
<script src="js/vendor/jquery-3.2.1.min.js"></script>
<!-- Countdown js -->
<script src="js/jquery.countdown.min.js"></script>
<!-- Mobile menu js -->
<script src="js/jquery.meanmenu.min.js"></script>
<!-- ScrollUp js -->
<script src="js/jquery.scrollUp.js"></script>
<!-- Nivo slider js -->
<script src="js/jquery.nivo.slider.js"></script>
<!-- Fancybox js -->
<script src="js/jquery.fancybox.min.js"></script>
<!-- Jquery nice select js -->
<script src="js/jquery.nice-select.min.js"></script>
<!-- Jquery ui price slider js -->
<script src="js/jquery-ui.min.js"></script>
<!-- Owl carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- Bootstrap popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugin js -->
<script src="js/plugins.js"></script>
<!-- Main activaion js -->
<script src="js/main.js"></script>
</body>

</html>