<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Compare Product || Truemart Responsive Html5 Ecommerce Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="css/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="css/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="css/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
<div class="wrapper">
    <!-- 引入头部-->
    <div th:replace="header :: header"></div>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="compare.html">Compare Product</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->       
         <!-- Compare Page Start -->
        <div class="compare-product ptb-100 ptb-sm-60">
            <div class="container">
                <div class="table-responsive-sm">
                    <table class="table text-center compare-content">
                        <tbody>
                            <tr>
                                <td class="product-title">Product</td>
                                <td class="product-description">
                                    <div class="compare-details">
                                        <div class="compare-detail-img">
                                            <a href="#"><img src="img/products/20.jpg" alt="compare-product"></a>
                                        </div>
                                        <div class="compare-detail-content">
                                            <span>Camera</span>
                                            <h4><a href="product.html">Concord Fabric Single</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td class="product-description">
                                    <div class="compare-details">
                                        <div class="compare-detail-img">
                                            <a href="#"><img src="img/products/21.jpg" alt="compare-product"></a>
                                        </div>
                                        <span>mobile</span>
                                        <h4><a href="product.html">Tablat c7 pro</a></h4>
                                    </div>
                                </td>
                                <td class="product-description">
                                    <div class="compare-details">
                                        <div class="compare-detail-img">
                                            <a href="#"><img src="img/products/35.jpg" alt="compare-product"></a>
                                        </div>
                                        <span>Games</span>
                                        <h4><a href="product.html">play station x 22</a></h4>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="product-title">Description</td>
                                <td class="product-description">
                                    <p>Impressively thin and light, the HP EliteBook 840 empowers users to create, connect, and collaborate, using enterprise-class performance</p>
                                </td>
                                <td class="product-description">
                                    <p>Impressively thin and light, the HP EliteBook 840 empowers users to create, connect, and collaborate, using enterprise-class performance</p>
                                </td>
                                <td class="product-description">
                                    <p>Impressively thin and light, the HP EliteBook 840 empowers users to create, connect, and collaborate, using enterprise-class performance</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="product-title">Price</td>
                                <td class="product-description">$235</td>
                                <td class="product-description">$275</td>
                                <td class="product-description">$190</td>
                            </tr>
                            <tr>
                                <td class="product-title">Color</td>
                                <td class="product-description">Black</td>
                                <td class="product-description">Yellow</td>
                                <td class="product-description">White</td>
                            </tr>
                            <tr>
                                <td class="product-title">Stock</td>
                                <td class="product-description">In Stock</td>
                                <td class="product-description">Stock Out</td>
                                <td class="product-description">In Stock</td>
                            </tr>
                            <tr>
                                <td class="product-title">Add to cart</td>
                                <td class="product-description">
                                    <a class="compare-cart text-uppercase" href="cart.html"> + add to cart</a>
                                </td>
                                <td class="product-description">
                                    <a class="compare-cart text-uppercase" href="cart.html"> + add to cart</a>
                                </td>
                                <td class="product-description">
                                    <a class="compare-cart text-uppercase" href="cart.html"> + add to cart</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="product-title">Delete</td>
                                <td class="product-description"><i class="fa fa-trash-o"></i></td>
                                <td class="product-description"><i class="fa fa-trash-o"></i></td>
                                <td class="product-description"><i class="fa fa-trash-o"></i></td>
                            </tr>
                            <tr>
                                <td class="product-title">Rating</td>
                                <td class="product-description">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </td>
                                <td class="product-description">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </td>
                                <td class="product-description">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Compare Page End -->
        <!-- 引入尾部-->
        <div th:replace="footer :: footer"></div>
        </div>
    <!-- jquery 3.2.1 -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="js/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="js/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="js/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="js/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="js/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="js/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="js/main.js"></script>
</body>

</html>