<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Compare Product || Truemart Responsive Html5 Ecommerce Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="css/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="css/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="css/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
<div class="wrapper">
    <!-- 引入头部-->
    <div th:replace="header :: header"></div>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="compare.html">Compare Product</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->       
         <!-- Compare Page Start -->
        <div class="compare-product ptb-100 ptb-sm-60">
            <div class="container">
                <div class="table-responsive-sm">
                    <table class="table text-center compare-content">
                        <tbody>
                            <tr>
                                <td class="product-title">Product</td>
                                <td class="product-description">
                                    <div class="compare-details">
                                        <div class="compare-detail-img">
                                            <a href="#"><img src="img/products/20.jpg" th:if="${session.user.getCompareList().get(0)!=null}" th:src="${session.user.getCompareList().get(0).getPic()}" alt="compare-product"></a>
                                            <a href="#"><img src="img/products/20.jpg" th:if="${session.user.getCompareList().get(0)==null}" alt="compare-product"></a>
                                        </div>
                                    </div>
                                </td>
                                <td class="product-description">
                                    <div class="compare-details">
                                        <div class="compare-detail-img">
                                            <a href="#"><img src="img/products/20.jpg" th:if="${session.user.getCompareList().get(1)!=null}" th:src="${session.user.getCompareList().get(1).getPic()}" alt="compare-product"></a>
                                            <a href="#"><img src="img/products/20.jpg" th:if="${session.user.getCompareList().get(1)==null}" alt="compare-product"></a>
                                        </div>
                                    </div>
                                </td>
                                <td class="product-description">
                                    <div class="compare-details">
                                        <div class="compare-detail-img">
                                            <a href="#"><img src="img/products/20.jpg" th:if="${session.user.getCompareList().get(2)!=null}" th:src="${session.user.getCompareList().get(2).getPic()}" alt="compare-product"></a>
                                            <a href="#"><img src="img/products/20.jpg" th:if="${session.user.getCompareList().get(2)==null}" alt="compare-product"></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="product-title">Price</td>
                                <td class="product-description" th:if="${session.user.getCompareList().get(0)==null}">$235</td>
                                <td class="product-description" th:if="${session.user.getCompareList().get(0)!=null}" th:text="${'¥'+session.user.getCompareList().get(0).getPromotion_price()}">$235</td>
                                <td class="product-description" th:if="${session.user.getCompareList().get(1)==null}">$235</td>
                                <td class="product-description" th:if="${session.user.getCompareList().get(1)!=null}" th:text="${'¥'+session.user.getCompareList().get(1).getPromotion_price()}">$235</td>
                                <td class="product-description" th:if="${session.user.getCompareList().get(2)==null}">$235</td>
                                <td class="product-description" th:if="${session.user.getCompareList().get(2)!=null}" th:text="${'¥'+session.user.getCompareList().get(2).getPromotion_price()}">$235</td>
                            </tr>
                            <tr>
                                <td class="product-title">Stock</td>
                                <td class="product-description" th:if="${session.user.getCompareList().get(0) !=null and session.user.getCompareList().get(0).getStatus() == 1}">In Stock</td>
                                <td class="product-description" th:if="${session.user.getCompareList().get(0) !=null and session.user.getCompareList().get(0).getStatus() == 0}">Stock Out</td>
                                <td class="product-description" th:if="${session.user.getCompareList().get(0) ==null}">In Stock</td>
                                <td class="product-description" th:if="${session.user.getCompareList().get(1) !=null and session.user.getCompareList().get(1).getStatus() == 1}">In Stock</td>
                                <td class="product-description" th:if="${session.user.getCompareList().get(1) !=null and session.user.getCompareList().get(1).getStatus() == 0}">Stock Out</td>
                                <td class="product-description" th:if="${session.user.getCompareList().get(1) ==null}">In Stock</td>
                                <td class="product-description" th:if="${session.user.getCompareList().get(2) !=null and session.user.getCompareList().get(2).getStatus() == 1}">In Stock</td>
                                <td class="product-description" th:if="${session.user.getCompareList().get(2) !=null and session.user.getCompareList().get(2).getStatus() == 0}">Stock Out</td>
                                <td class="product-description" th:if="${session.user.getCompareList().get(2) ==null}">In Stock</td>
                            </tr>
                            <tr>
                                <td class="product-title">Add to cart</td>
                                <td class="product-description">
                                    <a class="compare-cart text-uppercase" href="javascript:void(0);" onclick="addToCart(0)"> + add to cart</a>
                                </td>
                                <td class="product-description">
                                    <a class="compare-cart text-uppercase" href="javascript:void(0);" onclick="addToCart(1)"> + add to cart</a>
                                </td>
                                <td class="product-description">
                                    <a class="compare-cart text-uppercase" href="javascript:void(0);" onclick="addToCart(2)"> + add to cart</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="product-title">Delete</td>
                                <td class="product-description"><a href="/removeFromCompare.do?index=0"><i class="fa fa-trash-o"></i></a></td>
                                <td class="product-description"><a href="/removeFromCompare.do?index=1"><i class="fa fa-trash-o"></i></a></td>
                                <td class="product-description"><a href="/removeFromCompare.do?index=2"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Compare Page End -->
        <!-- 引入尾部-->
        <div th:replace="footer :: footer"></div>
        </div>
    <!-- jquery 3.2.1 -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="js/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="js/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="js/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="js/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="js/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="js/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="js/main.js"></script>
</body>
<script th:inline="javascript">
        function addToCart(number) {
            debugger;
            var list = [[${session.user.getCompareList()}]];
            if(list[number] == null){
                alert("不允许提交空商品去购物车!")
            }else{
                window.location.href="/addToCartFromC.do?index="+number;
            }
        }
</script>
</html>