<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> 404 || Truemart Responsive Html5 Ecommerce Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="css/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="css/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="css/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>
	<body>
	<!-- Main Wrapper Start Here -->
	<div class="wrapper">
		<!-- 引入头部-->
<!--		<div th:replace="header :: header"></div>-->
		<!-- Error 404 Area Start -->
		<div class="error404-area ptb-100 ptb-sm-60">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-12">
		                <div class="error-wrapper text-center">
		                    <div class="error-text">
		                        <h1>404</h1>
		                        <h2>Opps! PAGE NOT BE FOUND</h2>
		                        <p>Sorry but the page you are looking for does not exist, have been removed, name changed or is temporarity unavailable.</p>
		                    </div>
		                    <div class="search-error">
		                        <form id="search-form" action="#">
		                            <input type="text" placeholder="Search">
		                            <button><i class="fa fa-search"></i></button>
		                        </form>
		                    </div>
		                    <div class="error-button">
		                        <a href="index.html">Back to home page</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- Error 404 Area End -->
		<!-- 引入尾部-->
<!--		<div th:replace="footer :: footer"></div>-->
	</div>
	</body>
	<!-- jquery 3.2.1 -->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<!-- Countdown js -->
	<script src="js/jquery.countdown.min.js"></script>
	<!-- Mobile menu js -->
	<script src="js/jquery.meanmenu.min.js"></script>
	<!-- ScrollUp js -->
	<script src="js/jquery.scrollUp.js"></script>
	<!-- Nivo slider js -->
	<script src="js/jquery.nivo.slider.js"></script>
	<!-- Fancybox js -->
	<script src="js/jquery.fancybox.min.js"></script>
	<!-- Jquery nice select js -->
	<script src="js/jquery.nice-select.min.js"></script>
	<!-- Jquery ui price slider js -->
	<script src="js/jquery-ui.min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Bootstrap popper js -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap js -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Plugin js -->
	<script src="js/plugins.js"></script>
	<!-- Main activaion js -->
	<script src="js/main.js"></script>
</html>
