<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>Home</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <!-- Favicons -->
	    <link rel="shortcut icon" href="img/favicon.ico">
	    <!-- Fontawesome css -->
	    <link rel="stylesheet" href="css/font-awesome.min.css">
	    <!-- Ionicons css -->
	    <link rel="stylesheet" href="css/ionicons.min.css">
	    <!-- linearicons css -->
	    <link rel="stylesheet" href="css/linearicons.css">
	    <!-- Nice select css -->
	    <link rel="stylesheet" href="css/nice-select.css">
	    <!-- Jquery fancybox css -->
	    <link rel="stylesheet" href="css/jquery.fancybox.css">
	    <!-- Jquery ui price slider css -->
	    <link rel="stylesheet" href="css/jquery-ui.min.css">
	    <!-- Meanmenu css -->
	    <link rel="stylesheet" href="css/meanmenu.min.css">
	    <!-- Nivo slider css -->
	    <link rel="stylesheet" href="css/nivo-slider.css">
	    <!-- Owl carousel css -->
	    <link rel="stylesheet" href="css/owl.carousel.min.css">
	    <!-- Bootstrap css -->
	    <link rel="stylesheet" href="css/bootstrap.min.css">
	    <!-- Custom css -->
	    <link rel="stylesheet" href="css/default.css">
	    <!-- Main css -->
	    <link rel="stylesheet" href="css/style.css">
	    <!-- Responsive css -->
	    <link rel="stylesheet" href="css/responsive.css">
	
	    <!-- Modernizer js -->
	    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
	</head>
	<body>
		<div class="support-area bdr-top" th:fragment="footer">
		    <div class="container">
		        <div class="d-flex flex-wrap text-center">
		            <div class="single-support">
		                <div class="support-icon">
		                    <i class="lnr lnr-gift"></i>
		                </div>
		                <div class="support-desc">
		                    <h6>Great Value</h6>
		                    <span>Nunc id ante quis tellus faucibus dictum in eget.</span>
		                </div>
		            </div>
		            <div class="single-support">
		                <div class="support-icon">
		                    <i class="lnr lnr-rocket" ></i>
		                </div>
		                <div class="support-desc">
		                    <h6>Worlwide Delivery</h6>
		                    <span>Quisque posuere enim augue, in rhoncus diam dictum non</span>
		                </div>
		            </div>
		            <div class="single-support">
		                <div class="support-icon">
		                   <i class="lnr lnr-lock"></i>
		                </div>
		                <div class="support-desc">
		                    <h6>Safe Payment</h6>
		                    <span>Duis suscipit elit sem, sed mattis tellus accumsan.</span>
		                </div>
		            </div>
		            <div class="single-support">
		                <div class="support-icon">
		                   <i class="lnr lnr-enter-down"></i>
		                </div>
		                <div class="support-desc">
		                    <h6>Shop Confidence</h6>
		                    <span>Faucibus dictum suscipit eget metus. Duis  elit sem, sed.</span>
		                </div>
		            </div>
		            <div class="single-support">
		                <div class="support-icon">
		                   <i class="lnr lnr-users"></i>
		                </div>
		                <div class="support-desc">
		                    <h6>24/7 Help Center</h6>
		                    <span>Quisque posuere enim augue, in rhoncus diam dictum non.</span>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- Container End -->
		</div>
		<!-- Support Area End Here -->
		<!-- Footer Area Start Here -->
		<footer class="off-white-bg2 pt-95 bdr-top pt-sm-55" id = "myFooter">
		    <!-- Footer Top Start -->
		    <div class="footer-top">
		        <div class="container">
		            <div class="row">
		                <!-- Single Footer Start -->
		                <div class="col-lg-2 col-md-4 col-sm-6">
		                    <div class="single-footer mb-sm-40">
		                        <h3 class="footer-title">Information</h3>
		                        <div class="footer-content">
		                            <ul class="footer-list">
		                                <li><a href="about.html">About Us</a></li>
		                                <li><a href="#">Delivery Information</a></li>
		                                <li><a href="#">Privacy Policy</a></li>
		                                <li><a href="contact.html">Terms & Conditions</a></li>
		                                <li><a href="login.html">FAQs</a></li>
		                                <li><a href="login.html">Return Policy</a></li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		                <!-- Single Footer Start -->
		                <!-- Single Footer Start -->
		                <div class="col-lg-2 col-md-4 col-sm-6">
		                    <div class="single-footer mb-sm-40">
		                        <h3 class="footer-title">Customer Service</h3>
		                        <div class="footer-content">
		                            <ul class="footer-list">
		                                <li><a href="contact.html">Contact Us</a></li>
		                                <li><a href="#">Returns</a></li>
		                                <li><a href="#">Order History</a></li>
		                                <li><a href="wishlist.html">Wish List</a></li>
		                                <li><a href="#">Site Map</a></li>
		                                <li><a href="#">Gift Certificates</a></li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		                <!-- Single Footer Start -->
		                <!-- Single Footer Start -->
		                <div class="col-lg-2 col-md-4 col-sm-6">
		                    <div class="single-footer mb-sm-40">
		                        <h3 class="footer-title">Extras</h3>
		                        <div class="footer-content">
		                            <ul class="footer-list">
		                                <li><a href="#">Newsletter</a></li>
		                                <li><a href="#">Brands</a></li>
		                                <li><a href="#">Gift Certificates</a></li>
		                                <li><a href="#">Affiliate</a></li>
		                                <li><a href="#">Specials</a></li>
		                                <li><a href="#">Site Map</a></li>      
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		                <!-- Single Footer Start -->
		                <!-- Single Footer Start -->
		                <div class="col-lg-2 col-md-4 col-sm-6">
		                    <div class="single-footer mb-sm-40">
		                        <h3 class="footer-title">My Account</h3>
		                        <div class="footer-content">
		                            <ul class="footer-list">
		                                <li><a href="contact.html">Contact Us</a></li>
		                                <li><a href="#">Returns</a></li>
		                                <li><a href="#">My Account</a></li>
		                                <li><a href="#">Order History</a></li>
		                                <li><a href="wishlist.html">Wish List</a></li>
		                                <li><a href="#">Newsletter</a></li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		                <!-- Single Footer Start -->
		                <!-- Single Footer Start -->
		                <div class="col-lg-4 col-md-6 col-sm-6">
		                    <div class="single-footer mb-sm-40">
		                        <h3 class="footer-title">My Account</h3>
		                        <div class="footer-content">
		                            <ul class="footer-list address-content">
		                                <li><i class="lnr lnr-map-marker"></i> Address: 169-C, Technohub, Dubai Silicon Oasis.</li>
		                                <li><i class="lnr lnr-envelope"></i><a href="#"> mail Us: Support@truemart.com </a></li>
		                                <li>
		                                    <i class="lnr lnr-phone-handset"></i> Phone: (+800) 123 456 789)
		                                </li>
		                            </ul>
		                            <div class="payment mt-25 bdr-top pt-30">
		                                <a href="#"><img class="img" src="img/payment/1.png" alt="payment-image"></a>
		                            </div>                                   
		                        </div>
		                    </div>
		                </div>
		                <!-- Single Footer Start -->
		            </div>
		            <!-- Row End -->
		        </div>
		        <!-- Container End -->
		    </div>
		    <!-- Footer Top End -->
		    <!-- Footer Middle Start -->
		    <div class="footer-middle text-center">
		        <div class="container">
		            <div class="footer-middle-content pt-20 pb-30">
		                    <ul class="social-footer">
		                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
		                        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
		                        <li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
		                        <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
		                        <li><a href="#"><img src="img/icon/social-img1.png" alt="google play"></a></li>
		                        <li><a href="#"><img src="img/icon/social-img2.png" alt="app store"></a></li>
		                    </ul>
		            </div>
		        </div>
		        <!-- Container End -->
		    </div>
		    <!-- Footer Middle End -->
		    <!-- Footer Bottom Start -->
		    <div class="footer-bottom pb-30">
		        <div class="container">
		
		             <div class="copyright-text text-center">                    
		                <p>Copyright © 2018 <a target="_blank" href="#">Truemart</a> All Rights Reserved.</p>
		             </div>
		        </div>
		        <!-- Container End -->
		    </div>
		    <!-- Footer Bottom End -->
		</footer>
		<!-- Footer Area End Here -->
	</body>
	 <!-- jquery 3.2.1 -->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<!-- Countdown js -->
	<script src="js/jquery.countdown.min.js"></script>
	<!-- Mobile menu js -->
	<script src="js/jquery.meanmenu.min.js"></script>
	<!-- ScrollUp js -->
	<script src="js/jquery.scrollUp.js"></script>
	<!-- Nivo slider js -->
	<script src="js/jquery.nivo.slider.js"></script>
	<!-- Fancybox js -->
	<script src="js/jquery.fancybox.min.js"></script>
	<!-- Jquery nice select js -->
	<script src="js/jquery.nice-select.min.js"></script>
	<!-- Jquery ui price slider js -->
	<script src="js/jquery-ui.min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Bootstrap popper js -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap js -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Plugin js -->
	<script src="js/plugins.js"></script>
	<!-- Main activaion js -->
	<script src="js/main.js"></script>
</html>
