<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <title>Home</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <!-- Favicons -->
	    <link rel="shortcut icon" href="img/favicon.ico">
	    <!-- Fontawesome css -->
	    <link rel="stylesheet" href="css/font-awesome.min.css">
	    <!-- Ionicons css -->
	    <link rel="stylesheet" href="css/ionicons.min.css">
	    <!-- linearicons css -->
	    <link rel="stylesheet" href="css/linearicons.css">
	    <!-- Nice select css -->
	    <link rel="stylesheet" href="css/nice-select.css">
	    <!-- Jquery fancybox css -->
	    <link rel="stylesheet" href="css/jquery.fancybox.css">
	    <!-- Jquery ui price slider css -->
	    <link rel="stylesheet" href="css/jquery-ui.min.css">
	    <!-- Meanmenu css -->
	    <link rel="stylesheet" href="css/meanmenu.min.css">
	    <!-- Nivo slider css -->
	    <link rel="stylesheet" href="css/nivo-slider.css">
	    <!-- Owl carousel css -->
	    <link rel="stylesheet" href="css/owl.carousel.min.css">
	    <!-- Bootstrap css -->
	    <link rel="stylesheet" href="css/bootstrap.min.css">
	    <!-- Custom css -->
	    <link rel="stylesheet" href="css/default.css">
	    <!-- Main css -->
	    <link rel="stylesheet" href="css/style.css">
	    <!-- Responsive css -->
	    <link rel="stylesheet" href="css/responsive.css">
	
	    <!-- Modernizer js -->
	    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
	</head>
	<body>
		<div class="support-area bdr-top" th:fragment="footer">
		    <div class="container">
		        <div class="d-flex flex-wrap text-center">
		            <div class="single-support">
		                <div class="support-icon">
		                    <i class="lnr lnr-gift"></i>
		                </div>
		                <div class="support-desc">
		                    <h6>Great Value</h6>
		                    <span>Nunc id ante quis tellus faucibus dictum in eget.</span>
		                </div>
		            </div>
		            <div class="single-support">
		                <div class="support-icon">
		                    <i class="lnr lnr-rocket" ></i>
		                </div>
		                <div class="support-desc">
		                    <h6>Worlwide Delivery</h6>
		                    <span>Quisque posuere enim augue, in rhoncus diam dictum non</span>
		                </div>
		            </div>
		            <div class="single-support">
		                <div class="support-icon">
		                   <i class="lnr lnr-lock"></i>
		                </div>
		                <div class="support-desc">
		                    <h6>Safe Payment</h6>
		                    <span>Duis suscipit elit sem, sed mattis tellus accumsan.</span>
		                </div>
		            </div>
		            <div class="single-support">
		                <div class="support-icon">
		                   <i class="lnr lnr-enter-down"></i>
		                </div>
		                <div class="support-desc">
		                    <h6>Shop Confidence</h6>
		                    <span>Faucibus dictum suscipit eget metus. Duis  elit sem, sed.</span>
		                </div>
		            </div>
		            <div class="single-support">
		                <div class="support-icon">
		                   <i class="lnr lnr-users"></i>
		                </div>
		                <div class="support-desc">
		                    <h6>24/7 Help Center</h6>
		                    <span>Quisque posuere enim augue, in rhoncus diam dictum non.</span>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- Container End -->
		</div>
		<!-- Support Area End Here -->
		<!-- Footer Area Start Here -->
		<footer class="off-white-bg2 pt-95 bdr-top pt-sm-55">
		    <!-- Footer Top Start -->
		    <div class="footer-top">
		        <div class="container">
		            <!-- Signup Newsletter Start -->
		            <div class="row mb-60">
		                 <div class="col-xl-7 col-lg-7 ml-auto mr-auto col-md-8">
		                    <div class="news-desc text-center mb-30">
		                         <h3>Sign Up For Newsletters</h3>
		                         <p>Be the First to Know. Sign up for newsletter today</p>
		                     </div>
		                     <div class="newsletter-box">
		                         <form action="#">
		                              <input class="subscribe" placeholder="your email address" name="email" id="subscribe" type="text">
		                              <button type="submit" class="submit">subscribe!</button>
		                         </form>
		                     </div>
		                 </div>
		            </div> 
		            <!-- Signup-Newsletter End -->                   
		            <div class="row">
		                <!-- Single Footer Start -->
		                <div class="col-lg-2 col-md-4 col-sm-6">
		                    <div class="single-footer mb-sm-40">
		                        <h3 class="footer-title">Information</h3>
		                        <div class="footer-content">
		                            <ul class="footer-list">
		                                <li><a href="about.html">About Us</a></li>
		                                <li><a href="#">Delivery Information</a></li>
		                                <li><a href="#">Privacy Policy</a></li>
		                                <li><a href="contact.html">Terms & Conditions</a></li>
		                                <li><a href="login.html">FAQs</a></li>
		                                <li><a href="login.html">Return Policy</a></li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		                <!-- Single Footer Start -->
		                <!-- Single Footer Start -->
		                <div class="col-lg-2 col-md-4 col-sm-6">
		                    <div class="single-footer mb-sm-40">
		                        <h3 class="footer-title">Customer Service</h3>
		                        <div class="footer-content">
		                            <ul class="footer-list">
		                                <li><a href="contact.html">Contact Us</a></li>
		                                <li><a href="#">Returns</a></li>
		                                <li><a href="#">Order History</a></li>
		                                <li><a href="wishlist.html">Wish List</a></li>
		                                <li><a href="#">Site Map</a></li>
		                                <li><a href="#">Gift Certificates</a></li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		                <!-- Single Footer Start -->
		                <!-- Single Footer Start -->
		                <div class="col-lg-2 col-md-4 col-sm-6">
		                    <div class="single-footer mb-sm-40">
		                        <h3 class="footer-title">Extras</h3>
		                        <div class="footer-content">
		                            <ul class="footer-list">
		                                <li><a href="#">Newsletter</a></li>
		                                <li><a href="#">Brands</a></li>
		                                <li><a href="#">Gift Certificates</a></li>
		                                <li><a href="#">Affiliate</a></li>
		                                <li><a href="#">Specials</a></li>
		                                <li><a href="#">Site Map</a></li>      
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		                <!-- Single Footer Start -->
		                <!-- Single Footer Start -->
		                <div class="col-lg-2 col-md-4 col-sm-6">
		                    <div class="single-footer mb-sm-40">
		                        <h3 class="footer-title">My Account</h3>
		                        <div class="footer-content">
		                            <ul class="footer-list">
		                                <li><a href="contact.html">Contact Us</a></li>
		                                <li><a href="#">Returns</a></li>
		                                <li><a href="#">My Account</a></li>
		                                <li><a href="#">Order History</a></li>
		                                <li><a href="wishlist.html">Wish List</a></li>
		                                <li><a href="#">Newsletter</a></li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		                <!-- Single Footer Start -->
		                <!-- Single Footer Start -->
		                <div class="col-lg-4 col-md-6 col-sm-6">
		                    <div class="single-footer mb-sm-40">
		                        <h3 class="footer-title">My Account</h3>
		                        <div class="footer-content">
		                            <ul class="footer-list address-content">
		                                <li><i class="lnr lnr-map-marker"></i> Address: 169-C, Technohub, Dubai Silicon Oasis.</li>
		                                <li><i class="lnr lnr-envelope"></i><a href="#"> mail Us: Support@truemart.com </a></li>
		                                <li>
		                                    <i class="lnr lnr-phone-handset"></i> Phone: (+800) 123 456 789)
		                                </li>
		                            </ul>
		                            <div class="payment mt-25 bdr-top pt-30">
		                                <a href="#"><img class="img" src="img/payment/1.png" alt="payment-image"></a>
		                            </div>                                   
		                        </div>
		                    </div>
		                </div>
		                <!-- Single Footer Start -->
		            </div>
		            <!-- Row End -->
		        </div>
		        <!-- Container End -->
		    </div>
		    <!-- Footer Top End -->
		    <!-- Footer Middle Start -->
		    <div class="footer-middle text-center">
		        <div class="container">
		            <div class="footer-middle-content pt-20 pb-30">
		                    <ul class="social-footer">
		                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
		                        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
		                        <li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
		                        <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
		                        <li><a href="#"><img src="img/icon/social-img1.png" alt="google play"></a></li>
		                        <li><a href="#"><img src="img/icon/social-img2.png" alt="app store"></a></li>
		                    </ul>
		            </div>
		        </div>
		        <!-- Container End -->
		    </div>
		    <!-- Footer Middle End -->
		    <!-- Footer Bottom Start -->
		    <div class="footer-bottom pb-30">
		        <div class="container">
		
		             <div class="copyright-text text-center">                    
		                <p>Copyright © 2018 <a target="_blank" href="#">Truemart</a> All Rights Reserved.</p>
		             </div>
		        </div>
		        <!-- Container End -->
		    </div>
		    <!-- Footer Bottom End -->
		</footer>
		<!-- Footer Area End Here -->
		<!-- Quick View Content Start -->
		<div class="main-product-thumbnail quick-thumb-content">
		    <div class="container">
		        <!-- The Modal -->
		        <div class="modal fade" id="myModal">
		            <div class="modal-dialog modal-lg modal-dialog-centered">
		                <div class="modal-content">
		                    <!-- Modal Header -->
		                    <div class="modal-header">
		                        <button type="button" class="close" data-dismiss="modal">&times;</button>
		                    </div>
		                    <!-- Modal body -->
		                    <div class="modal-body">
		                        <div class="row">
		                            <!-- Main Thumbnail Image Start -->
		                            <div class="col-lg-5 col-md-6 col-sm-5">
		                                <!-- Thumbnail Large Image start -->
		                                <div class="tab-content">
		                                    <div id="thumb1" class="tab-pane fade show active">
		                                        <a data-fancybox="images" href="img/products/35.jpg"><img src="img/products/35.jpg" alt="product-view"></a>
		                                    </div>
		                                    <div id="thumb2" class="tab-pane fade">
		                                        <a data-fancybox="images" href="img/products/13.jpg"><img src="img/products/13.jpg" alt="product-view"></a>
		                                    </div>
		                                    <div id="thumb3" class="tab-pane fade">
		                                        <a data-fancybox="images" href="img/products/15.jpg"><img src="img/products/15.jpg" alt="product-view"></a>
		                                    </div>
		                                    <div id="thumb4" class="tab-pane fade">
		                                        <a data-fancybox="images" href="img/products/4.jpg"><img src="img/products/4.jpg" alt="product-view"></a>
		                                    </div>
		                                    <div id="thumb5" class="tab-pane fade">
		                                        <a data-fancybox="images" href="img/products/5.jpg"><img src="img/products/5.jpg" alt="product-view"></a>
		                                    </div>
		                                </div>
		                                <!-- Thumbnail Large Image End -->
		                                <!-- Thumbnail Image End -->
		                                <div class="product-thumbnail mt-20">
		                                    <div class="thumb-menu owl-carousel nav tabs-area" role="tablist">
		                                        <a class="active" data-toggle="tab" href="#thumb1"><img src="img/products/35.jpg" alt="product-thumbnail"></a>
		                                        <a data-toggle="tab" href="#thumb2"><img src="img/products/13.jpg" alt="product-thumbnail"></a>
		                                        <a data-toggle="tab" href="#thumb3"><img src="img/products/15.jpg" alt="product-thumbnail"></a>
		                                        <a data-toggle="tab" href="#thumb4"><img src="img/products/4.jpg" alt="product-thumbnail"></a>
		                                        <a data-toggle="tab" href="#thumb5"><img src="img/products/5.jpg" alt="product-thumbnail"></a>
		                                    </div>
		                                </div>
		                                <!-- Thumbnail image end -->
		                            </div>
		                            <!-- Main Thumbnail Image End -->
		                            <!-- Thumbnail Description Start -->
		                            <div class="col-lg-7 col-md-6 col-sm-7">
		                                <div class="thubnail-desc fix mt-sm-40">
		                                    <h3 class="product-header">Printed Summer Dress</h3>
		                                    <div class="pro-price mtb-30">
		                                        <p class="d-flex align-items-center"><span class="prev-price">16.51</span><span class="price">$15.19</span><span class="saving-price">save 8%</span></p>
		                                    </div>
		                                    <p class="mb-20 pro-desc-details">Long printed dress with thin adjustable straps. V-neckline and wiring under the bust with ruffles at the bottom of the dress.</p>
		                                    <div class="product-size mb-20 clearfix">
		                                        <label>Size</label>
		                                        <select class="">
		                                            <option>S</option>
		                                            <option>M</option>
		                                            <option>L</option>
		                                        </select>
		                                    </div>
		                                    <div class="color mb-20">
		                                        <label>color</label>
		                                        <ul class="color-list">
		                                            <li>
		                                                <a class="orange active" href="#"></a>
		                                            </li>
		                                            <li>
		                                                <a class="paste" href="#"></a>
		                                            </li>
		                                        </ul>
		                                    </div>
		                                    <div class="box-quantity d-flex">
		                                        <form action="#">
		                                            <input class="quantity mr-40" type="number" min="1" value="1">
		                                        </form>
		                                        <a class="add-cart" href="cart.html">add to cart</a>
		                                    </div>
		                                    <div class="pro-ref mt-15">
		                                        <p><span class="in-stock"><i class="ion-checkmark-round"></i> IN STOCK</span></p>
		                                    </div>
		                                </div>
		                            </div>
		                            <!-- Thumbnail Description End -->
		                        </div>
		                    </div>
		                    <!-- Modal footer -->
		                    <div class="custom-footer">
		                        <div class="socila-sharing">
		                            <ul class="d-flex">
		                                <li>share</li>
		                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		                                <li><a href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a></li>
		                                <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
		                            </ul>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- Quick View Content End -->
	</body>
	 <!-- jquery 3.2.1 -->
	<script src="js/vendor/jquery-3.2.1.min.js"></script>
	<!-- Countdown js -->
	<script src="js/jquery.countdown.min.js"></script>
	<!-- Mobile menu js -->
	<script src="js/jquery.meanmenu.min.js"></script>
	<!-- ScrollUp js -->
	<script src="js/jquery.scrollUp.js"></script>
	<!-- Nivo slider js -->
	<script src="js/jquery.nivo.slider.js"></script>
	<!-- Fancybox js -->
	<script src="js/jquery.fancybox.min.js"></script>
	<!-- Jquery nice select js -->
	<script src="js/jquery.nice-select.min.js"></script>
	<!-- Jquery ui price slider js -->
	<script src="js/jquery-ui.min.js"></script>
	<!-- Owl carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Bootstrap popper js -->
	<script src="js/popper.min.js"></script>
	<!-- Bootstrap js -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Plugin js -->
	<script src="js/plugins.js"></script>
	<!-- Main activaion js -->
	<script src="js/main.js"></script>
</html>
