<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home || Truemart Responsive Html5 Ecommerce Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="css/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="css/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="css/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/my.css">
    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <div th:fragment="header">
        <!-- Main Header Area Start Here -->
        <header>
            <!-- Header Top Start Here -->

            <!-- Header Top End Here -->
            <!-- Header Middle Start Here -->
            <div class="header-middle ptb-15">
                <div class="container">
                    <div class="row align-items-center no-gutters">
                        <div class="col-lg-3 col-md-12">
                            <div class="logo mb-all-30">
                                <a href="index.html"><img src="img/logo/logo.png" alt="logo-image"></a>
                            </div>
                        </div>
                        <!-- Categorie Search Box Start Here -->
                        <div class="col-lg-5 col-md-8 ml-auto mr-auto col-10">
                            <div class="categorie-search-box">
                                    <div class="form-group">
                                        <select class="bootstrap-select" id = "categoriesList">
                                            <option value="0">All categories</option>
                                            <option value="7">Automotive & Motorcycle</option>
                                            <option value="3">Sports & Outdoors</option>
                                            <option value="1">Fashion</option>
                                            <option value="4">Home & Kitchen</option>
                                            <option value="7">Phones & Tablets</option>
                                            <option value="7">TV & Video</option>
                                            <option value="2">Beauty</option>
                                            <option value="5">Fruits & Veggies</option>
                                            <option value="7">Computer & Laptop</option>
                                            <option value="5">Meat & Seafood</option>
                                            <option value="7">Accessories</option>
                                        </select>
                                    </div>
                                    <input type="text" name="search" placeholder="I’m shopping for...">
                                    <button onclick="toSearch()"><i class="lnr lnr-magnifier" onclick="toSearch()"></i></button>
                            </div>
                        </div>
                        <!-- Categorie Search Box End Here -->
                        <!-- Cart Box Start Here -->
                        <div class="col-lg-4 col-md-12">
                            <div class="cart-box mt-all-30">
                                <ul class="d-flex justify-content-lg-end justify-content-center align-items-center">
                                    <li><a href="/cart.html"><i class="lnr lnr-cart"></i><span class="my-cart"><span class="total-pro" th:if="${session.user} eq null">0</span><span class="total-pro" id = "cartCount" th:text="${session.user.getCartCount()}" th:if="${session.user} ne null"></span><span>cart</span></span></a>
                                    </li>
                                    <li><a href="/wishlist.html"><i class="lnr lnr-heart"></i><span class="my-cart"><span>Wish</span><span>list (<span th:if="${session.user} eq null">0</span><span id="wishCount" th:text="${session.user.getWishCount()}" th:if="${session.user} ne null"></span>)</span></span></a>
                                    </li>
                                    <li>
                                        <div class="dropdown">
                                            <i class="lnr lnr-user" th:if="${session.user} ne null" style="font-size: 32px;"></i>
                                                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" onmouseover="this.style.color='#E62E04';" onmouseout="this.style.color='#363636';" style=" font-size:16px;color: #363636;font-family: 'Lato', sans-serif;padding-top: 11px" th:text="${session.user.getUsername()}" th:if="${session.user} ne null">
                                                    </a>
                                                    <div class="dropdown-menu" style="min-width:50px;padding: 0px 0px;">
                                                        <a style="font-size:16px" class="dropdown-item"  onmouseover="this.style.color='#E62E04';" onmouseout="this.style.color='#363636';" href="/logout.do">logout</a>
                                                    </div>
                                                <a onmouseover="this.style.color='#E62E04';" onmouseout="this.style.color='#363636';" style="font-size: 13px; color: #363636;" href="login.html" th:if="${session.user} eq null">Sign in Or </br> Join My Site
                                                </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Cart Box End Here -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Middle End Here -->
            <!-- Header Bottom Start Here -->
            <div class="header-bottom  header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                         <div class="col-xl-3 col-lg-4 col-md-6 vertical-menu d-none d-lg-block">
                            <span class="categorie-title">Shop by Categories </span>
                        </div>
                        <div class="col-xl-9 col-lg-8 col-md-12 ">
                            <nav class="d-none d-lg-block">
                                <ul class="header-bottom-list d-flex">
                                    <li class="active"><a href="index.html">home</a>
                                    </li>
                                    <li><a href="shop.html">shop</a></li>
                                    <li><a href="compare.html">compare</a></li>
                                    <li><a href="wishlist.html">Wish List</a></li>
                                    <li><a href="order.html">My Orders</a></li>
                                    <li><a href="about.html">About us</a></li>
                                </ul>
                            </nav>
                            <div class="mobile-menu d-block d-lg-none">
                                <nav>
                                    <ul>
                                        <li><a href="index.html">home</a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul>
                                                <li><a href="index.html">Home Version 1</a></li>
                                                <li><a href="index-2.html">Home Version 2</a></li>
                                                <li><a href="index-3.html">Home Version 3</a></li>
                                                <li><a href="index-4.html">Home Version 4</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li><a href="shop.html">shop</a>
                                            <!-- Mobile Menu Dropdown Start -->
                                            <ul>
                                                <li><a href="product.html">product details</a></li>
                                                <li><a href="compare.html">compare</a></li>
                                                <li><a href="cart.html">cart</a></li>
                                                <li><a href="checkout.html">checkout</a></li>
                                                <li><a href="wishlist.html">wishlist</a></li>
                                            </ul>
                                            <!-- Mobile Menu Dropdown End -->
                                        </li>
                                        <li><a href="blog.html">Blog</a>
                                            <!-- Mobile Menu Dropdown Start -->
                                            <ul>
                                                <li><a href="single-blog.html">blog details</a></li>
                                            </ul>
                                            <!-- Mobile Menu Dropdown End -->
                                        </li>
                                        <li><a href="#">pages</a>
                                            <!-- Mobile Menu Dropdown Start -->
                                            <ul>
                                                <li><a href="register.html">register</a></li>
                                                <li><a href="login.html">sign in</a></li>
                                                <li><a href="forgot-password.html">forgot password</a></li>
                                                <li><a href="404.html">404</a></li>
                                            </ul>
                                            <!-- Mobile Menu Dropdown End -->
                                        </li>
                                        <li><a href="about.html">about us</a></li>
                                        <li><a href="contact.html">contact us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Bottom End Here -->
          <!--   Mobile Vertical Menu Start Here
            <div class="container d-block d-lg-none">
                <div class="vertical-menu mt-30">
                    <span class="categorie-title mobile-categorei-menu">Shop by Categories</span>
                    <nav>
                        <div id="cate-mobile-toggle" class="category-menu sidebar-menu sidbar-style mobile-categorei-menu-list menu-hidden ">
                            <ul>
                                <li class="has-sub"><a href="#">Automotive & Motorcycle </a>
                                     category submenu end
                                </li>
                                <li class="has-sub"><a href="#">Sports & Outdoors</a>
                                     category submenu end
                                </li>
                                <li class="has-sub"><a href="#">Home & Kitchen</a>
                                     category submenu end
                                </li>
                                <li class="has-sub"><a href="#">Phones & Tablets</a>
                                     category submenu end
                                </li>
                                <li class="has-sub"><a href="#">TV & Video</a>
                                     category submenu end
                                </li>
                                <li><a href="#">Beauty</a> </li>
                                <li><a href="#">Sport & tourisim</a></li>
                                <li><a href="#">Meat & Seafood</a></li>
                                <li><a href="shop.html"><span><img src="img/vertical-menu/11.png" alt="menu-icon"></span>Accessories</a></li>
                            </ul>
                        </div>
                         category-menu-end
                    </nav>
                </div>
            </div>
             Mobile Vertical Menu Start End -->
        </header>
        <!-- Main Header Area End Here -->
        <!-- Categorie Menu & Slider Area Start Here -->
        <div class="main-page-banner home-3">
            <div class="container">
                <div class="row">
                    <!-- Vertical Menu Start Here -->
                    <div class="col-xl-3 col-lg-4 d-none d-lg-block">
                        <div class="vertical-menu mb-all-30">
                            <nav>
                                <ul class="vertical-menu-list">
                                    <li class=""><a href="shop.html?type=7"><span><img src="img/vertical-menu/1.png" alt="menu-icon"></span>Automotive & Motorcycle</a>
                                    </li>
                                    <li><a href="shop.html?type=3"><span><img src="img/vertical-menu/3.png" alt="menu-icon"></span>Sports & Outdoors</a>
                                    </li>
                                    <li><a href="shop.html?type=1"><span><img src="img/vertical-menu/6.png" alt="menu-icon"></span>Fashion</a>
                                    </li>
                                    <li><a href="shop.html?type=4"><span><img src="img/vertical-menu/7.png" alt="menu-icon"></span>Home & Kitchen</a>
                                    </li>
                                    <li><a href="shop.html?type=7"><span><img src="img/vertical-menu/4.png" alt="menu-icon"></span>Phones & Tablets</a>
                                    </li>
                                    <li><a href="shop.html?type=7"><span><img src="img/vertical-menu/6.png" alt="menu-icon"></span>TV & Video</a>
                                    </li>
                                    <li><a href="shop.html?type=2"><span><img src="img/vertical-menu/5.png" alt="menu-icon"></span>Beauty</a>
                                    </li>
                                    <li><a href="shop.html?type=5"><span><img src="img/vertical-menu/8.png" alt="menu-icon"></span>Fruits & Veggies</a></li>
                                    <li><a href="shop.html?type=7"><span><img src="img/vertical-menu/9.png" alt="menu-icon"></span>Computer & Laptop</a></li>
                                    <li><a href="shop.html?type=5"><span><img src="img/vertical-menu/10.png" alt="menu-icon"></span>Meat & Seafood</a></li>
                                    <li><a href="shop.html?type=7"><span><img src="img/vertical-menu/11.png" alt="menu-icon"></span>Accessories</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Vertical Menu End Here -->
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Categorie Menu & Slider Area End Here -->
    </div>

        <!-- jquery 3.2.1 -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="js/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="js/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="js/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="js/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="js/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="js/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="js/main.js"></script>
</body>
</html>