<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Register || Truemart Responsive Html5 Ecommerce Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="css/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="css/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="css/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>

    <!-- 弹窗插件 -->

    <style type="text/css">
        .error {
            color: red;
        }
    </style>
    >
</head>

<body>
<!-- Main Wrapper Start Here -->
<div class="wrapper">
    <!-- 引入头部-->
    <div th:replace="header :: header"></div>
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-area mt-30">
        <div class="container">
            <div class="breadcrumb">
                <ul class="d-flex align-items-center">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="register.html">Register</a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Breadcrumb End -->
    <!-- Register Account Start -->
    <div class="register-account ptb-100 ptb-sm-60">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="register-title">
                        <h3 class="mb-10">REGISTER ACCOUNT</h3>
                        <p class="mb-10">If you already have an account with us, please login at the login page.</p>
                    </div>
                </div>
            </div>
            <!-- Row start -->
            <div class="row">
                <div class="col-sm-12">
                    <form class="form-register" action="/register.do" method="post" onsubmit="return toValid()">
                        <fieldset>
                            <legend>Your Personal Details</legend>
                            <div class="form-group d-md-flex align-items-md-center">
                                <label class="control-label col-md-2" for="f-name"><span class="require">*</span>User
                                    Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="username" id="f-name"
                                           placeholder="User Name" required="required" onblur="checkUserName()">
                                    <span id="s_username" class="error"></span>
                                </div>
                            </div>
                            <div class="form-group d-md-flex align-items-md-center">
                                <label class="control-label col-md-2" for="l-name"><span class="require">*</span>Nick
                                    Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="nickname" id="l-name"
                                           placeholder="Nick Name" required="required">
                                </div>
                            </div>
                            <div class="form-group d-md-flex align-items-md-center">
                                <label class="control-label col-md-2" for="city"><span class="require">*</span>Enter
                                    your birthed address here...</label>
                                <div class="col-md-10">
                                    <input type="text" id="city" class="form-control" name="city"
                                           placeholder="Enter your birthed address here..." required="required">
                                </div>
                            </div>
                            <div class="form-group d-md-flex align-items-md-center">
                                <label class="control-label col-md-2" for="number"><span class="require">*</span>Telephone</label>
                                <div class="col-md-10">
                                    <input type="tel" name="phone" class="form-control" id="number"
                                           placeholder="Telephone" required="required" onblur="checkTel()"
                                           onfocus="noError()">
                                    <span id="s_tel" class="error"></span>
                                </div>
                            </div>
                            <div class="form-group d-md-flex align-items-md-center">
                                <label class="control-label col-md-2" for="sex"><span
                                        class="require">*</span>Sex</label>
                                <div class="col-md-10">
                                    <select id="sex" name="gender">
                                        <option value="1">男</option>
                                        <option value="2">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group d-md-flex align-items-md-center">
                                <label class="control-label col-md-2" for="number"><span class="require">*</span>Birthday</label>
                                <div class="col-md-10">
                                    <input type="date" name="birthDay" class="form-control" id="birthday"
                                           placeholder="Birthday" required="required">
                                </div>
                            </div>
                            <div class="form-group d-md-flex align-items-md-center">
                                <label class="control-label col-md-2" for="profession"><span class="require">*</span>Profession</label>
                                <div class="col-md-10">
                                    <input type="text" name="job" id="profession" class="form-control"
                                           placeholder="Enter your profession here..." required="required">
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Your Password</legend>
                            <div class="form-group d-md-flex align-items-md-center">
                                <label class="control-label col-md-2" for="pwd"><span class="require">*</span>Password:</label>
                                <div class="col-md-10">
                                    <input type="password" name="password" class="form-control" id="pwd"
                                           placeholder="Password" required>
                                </div>
                            </div>
                            <div class="form-group d-md-flex align-items-md-center">
                                <label class="control-label col-md-2" for="pwd-confirm"><span class="require">*</span>Confirm
                                    Password</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" id="pwd-confirm"
                                           placeholder="Confirm password" onblur="checkPwd()" onfocus="noError2()"
                                           required>
                                    <span id="s_pwd" class="error"></span>
                                </div>
                            </div>
                        </fieldset>
                        <div class="terms">
                            <div class="float-md-right">
                                <input type="submit" value="Continue" class="return-customer-btn">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Row end-->
        </div>
        <!-- Container End -->
    </div>
    <!-- 用于传递信息-->
    <!--        <span id = "registerMessage" th:value="#{info}" style="display: none"></span>-->
    <!-- Register Account End -->
    <!-- 引入尾部-->
    <div th:replace="footer :: footer"></div>
</div>
<!-- jquery 3.2.1 -->
<script src="js/vendor/jquery-3.2.1.min.js"></script>
<!-- Countdown js -->
<script src="js/jquery.countdown.min.js"></script>
<!-- Mobile menu js -->
<script src="js/jquery.meanmenu.min.js"></script>
<!-- ScrollUp js -->
<script src="js/jquery.scrollUp.js"></script>
<!-- Nivo slider js -->
<script src="js/jquery.nivo.slider.js"></script>
<!-- Fancybox js -->
<script src="js/jquery.fancybox.min.js"></script>
<!-- Jquery nice select js -->
<script src="js/jquery.nice-select.min.js"></script>
<!-- Jquery ui price slider js -->
<script src="js/jquery-ui.min.js"></script>
<!-- Owl carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- Bootstrap popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugin js -->
<script src="js/plugins.js"></script>
<!-- Main activaion js -->
<script src="js/main.js"></script>
</body>
<script>
    <!--
    验证两次密码是否输入一致 -->
    function checkPwd() {
        var pwd = document.getElementById("pwd").value;
        var pwdCfm = document.getElementById("pwd-confirm").value;

        var flag = pwd == pwdCfm && pwd != "" && pwdCfm != "";

        if (flag) {
            document.getElementById("s_pwd").innerHTML = "";
        } else {
            document.getElementById("s_pwd").innerHTML = "Please input consistent password";
        }

        return flag;
    }

    <!-- 当输入两次密码不一致后再次输入时,错误提示应该消失 -->
    function noError2() {
        document.getElementById("s_pwd").innerHTML = "";
    }

    <!-- 生日日期不可能超过当前日期 -->
    window.onload = function () {
        var date_now = new Date();
        //得到当前年份
        var year = date_now.getFullYear();
        //得到当前月份
        //注：
        //  1：js中获取Date中的month时，会比当前月份少一个月，所以这里需要先加一
        //  2: 判断当前月份是否小于10，如果小于，那么就在月份的前面加一个 '0' ， 如果大于，就显示当前月份
        var month = date_now.getMonth() + 1 < 10 ? "0" + (date_now.getMonth() + 1) : (date_now.getMonth() + 1);
        //得到当前日子（多少号）
        var date = date_now.getDate() < 10 ? "0" + date_now.getDate() : date_now.getDate();

        birthday = document.getElementById("birthday");
        birthday.setAttribute("max", year + "-" + month + "-" + date);
    }

    function checkUserName() {
        var flag = false;
        var username = $("input[name=username]").val();
    debugger;
        $.ajax({
            type: "GET",
            url: "/checkUserName.do",
            dataType: "json",
            contentType: "application/json",
            data: {username: username},
            success: function (data) {
            debugger;
                if (data.flag == "1") {
                    document.getElementById("s_username").innerHTML = "该用户名已经存在,请重新输入...";
                    // $("#s_username").innerHTML="该用户名已经存在,请重新输入...";
                    flag = false
                } else {
                    document.getElementById("s_username").innerHTML = "";
                    flag = true;
                }
            },
            error: function () {
                alert("错误!");
            }
        });
    }

    <!-- 验证表单是否满足所有要求,满足则提交 -->
    function toValid() {
        return checkTel() && checkPwd() && checkUserName();
    }
</script>
<script th:inline="javascript">
    var single = [[${info}]];
    if ((single != null) && (single != "")) {
        alert(single)
        if (single != "注册失败!") {
            window.location.href = "login.html";
        }
    }
</script>
</html>