<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wishlist || Truemart Responsive Html5 Ecommerce Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="css/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="css/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="css/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="css/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="css/responsive.css">

    <!-- Modernizer js -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>
<!-- Main Wrapper Start Here -->
<div class="wrapper">
    <!-- 引入头部-->
    <div th:replace="header :: header"></div>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="wishlist.html">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Wish List Start -->
        <div class="cart-main-area wish-list ptb-100 ptb-sm-60" style="padding: 25px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Form Start -->
                        <form action="#">
                            <!-- Table Content Start -->
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-remove">Remove</th>
                                            <th class="product-thumbnail">Image</th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price">Unit Price</th>
                                            <th class="product-quantity">Stock Status</th>
                                            <th class="product-subtotal">add to cart</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="obj,objStar:${pageInfo.getList()}">
                                            <td class="product-remove"> <a th:href="${'/delProductFromWish.do?id='+obj.getwId()}"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                            <td class="product-thumbnail">
                                                <a th:href="${'product.do?id='+obj.getpId()}"><img th:src="${obj.getPic()}" alt="cart-image" /></a>
                                            </td>
                                            <td class="product-name"><a th:href="${'product.do?id='+obj.getpId()}" th:text="${obj.getProductName()}"></a></td>
                                            <td class="product-price"><span class="amount" th:text="${'¥'+obj.getPrice()}"></span></td>
                                            <td class="product-stock-status"><span th:if="${obj.getStatus() == 1}">in stock</span><span th:if="${obj.getStatus() == 0}">sold out</span></td>
                                            <td class="product-add-to-cart"><a href="javascript:void(0);" onclick="addToCart(this)" th:name="${obj.getpId()}">add to cart</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Table Content Start -->
                        </form>
                        <!-- Form End -->
                        <div class="pro-pagination" style="margin-top: 15px;">
                            <ul class="blog-pagination">
                                <li th:if="${pageInfo.getPageNum()!=1}"><a th:href="${'/getWishList.do?pageNum='+pageInfo.getPrePage()}"><i class="fa fa-angle-left"></i></a></li>
                                <li class="active"><a href="#" th:text="${pageInfo.getPageNum()}"></a></li>
                                <li><a th:if="${pageInfo.getPages() >= pageInfo.getPageNum()+1}" th:href="${'/getWishList.do?pageNum='+pageInfo.getNextPage()}" th:text="${pageInfo.getNextPage()}"></a></li>
                                <li><a th:if="${pageInfo.getPages() >= pageInfo.getPageNum()+2}" th:href="${'/getWishList.do?pageNum='+(pageInfo.getNextPage()+1)}" th:text="${pageInfo.getNextPage()+1}"></a></li>
                                <li><a th:if="${pageInfo.getPages() >= pageInfo.getPageNum()+1}" th:href="${'/getWishList.do?pageNum='+pageInfo.getNextPage()}"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                            <div class="product-pagination">
                                <span class="grid-item-list" th:text="${'Showing 1 to '+ pageInfo.getPageSize()+' of '+pageInfo.getTotal() +'  ('+pageInfo.getPages()+' Pages)'}">  </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row End -->
            </div>
        </div>
        <!-- Wish List End -->
        <!-- 引入尾部-->
        <div th:replace="footer :: footer"></div>
        </div>
    <!-- jquery 3.2.1 -->
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="js/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="js/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="js/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="js/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="js/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="js/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="js/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="js/main.js"></script>
</body>
    <script>
        function addToCart(elem) {
            var cart  = new Object();
            cart.PID = parseInt(elem.name);
            cart.quantity = 1;
            cart.price = $(elem).parent().prev().prev().find("span").eq(0).text().substring(1);
            cart.price = parseFloat(cart.price);
            cart.product_attr=cart.PID+"-";
            sendAjaxRequest("/addProduct.do",cart);
            window.location.href="/getCart.do";
        }

    </script>

</html>